.NotFound{
  height: 100vh;

  background-image: url('../../resources/images/jpg/notFound.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}